body{
    font-family: Arial;
    background-color: #f0f0f0;
}

.container{
    width: 400px;
    margin: auto;
    margin-top: 50px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1{
    text-align: center;
}

input{
    width: 70%;
    padding: 10px;
}

button{
    padding: 10px;
    cursor: pointer;
}

ul{
    margin-top: 20px;
}

li{
    margin-bottom: 10px;
}